body, html {
    height: 100%;
    margin: 0;
}

/* toggle button */
#toggleAvenger {
    background-image: url("../images/btn-thanos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 10px;
    /* need to change this to be dynamic, base it off of the width of the toggle btn div when you know the length */
    left: 40%;
    height: 10%;
    width: 20%;
}
#toggleGOT {
    background-image: url("../images/btn-night-king.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 10px;
    /* need to change this to be dynamic, base it off of the width of the toggle btn div when you know the length */
    left: 40%;
    height: 10%;
    width: 20%;
}



/* for Avengers */
#bg {
    background-image: url("../images/thanos.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

    /* for GoT theme */
    #bgNightKing {
        background-image: url("../images/night-king.jpg");

        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

/* stones for Avengers */

#redStone {
    background-image: url("../images/infinity-red.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#orangeStone {
    background-image: url("../images/infinity-orange.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#yellowStone {
    background-image: url("../images/infinity-yellow.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#greenStone {
    background-image: url("../images/infinity-green.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#blueStone {
    background-image: url("../images/infinity-blue.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#purpleStone {
    background-image: url("../images/infinity-purple.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
    /* sigels for GoT */

    #houseStark {
        background-image: url("../images/stark.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #houseTargaryen {
        background-image: url("../images/targaryen.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #houseLannister {
        background-image: url("../images/lannister.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #houseMormont {
        background-image: url("../images/mormont.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #houseGreyjoy {
        background-image: url("../images/greyjoy.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #wildLings {
        background-image: url("../images/wildlings.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

/* grid for Avengers theme */
.grid-container{ 
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    height: 15%;
    width: 100%;
    /* grid-template-columns: auto auto auto auto auto auto auto auto;  */
    justify-content: center;
    position: absolute;
    bottom: 17.5%;
    /* grid-template-rows: 50%;
    justify-content: center; */

}

    /* grid for GoT */
    .grid-container-night-king {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
        height: 15%;
        justify-content: center;
        position: absolute;
        bottom: 17.5%;
    }

.score{
    background-color: white;
    opacity: .25;
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.win{
    background-color: white;
    opacity: .25;
    font-size: 25px;
    position: absolute;
    top: 100px;
    left: 20px;
}

.loss{
    background-color: white;
    opacity: .25;
    font-size: 25px;
    position: absolute;
    top: 132px;
    left: 20px;
}

.instructions{
    background-color: white;
    opacity: .25;
    font-size: 18px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
}

.runningTotal{
    background-color: white;
    opacity: .25;
    position: absolute;
    top: 42%;
    left: 43.75%;
    font-size: 50px;

}